@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gochi+Hand&family=Kaushan+Script&family=Lato:wght@400;700&family=Open+Sans:wght@300;400&family=Piazzolla:wght@200;300;400;600&family=Poppins&family=Roboto&family=Ubuntu:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Ubuntu", sans-serif;
}
body {
  background: #e5e5e5;
}
html {
  scroll-behavior: smooth;
}

/* **************navbar****************** */

.navbar {
  padding: 6px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background: #e5e5e5;
  top: 0;
  left: 0;
  z-index: 40;
  box-shadow: 0 2px 16px #a2a2a2;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 20px;
}
.navbar h1 {
  /* padding: 4px; */
  background-color: #fa4924;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  color: #e5e5e5;
  cursor: pointer;
}
.navbar ul li a {
  color: #000;
  text-decoration: none;
  transition: all 0.2s;
  font-weight: 500;
}
.navbar ul li a:hover {
  color: #fa4924;
}
.navbar ul li a.active-link {
  color: #fa4924;
}

.main-heading {
  font-size: 50px;
  padding-left: 10%;
  position: relative;
}

.main-heading::before {
  content: "";
  width: 40px;
  height: 40px;
  background: #fa4924;
  top: -30px;
  left: 20%;
  z-index: -1;
  position: absolute;
  border-radius: 38px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
}
.main-heading::after {
  content: "";
  width: 15%;
  height: 2px;
  background: #fa4924;
  bottom: -15px;
  left: 0;
  z-index: -1;
  position: absolute;
  margin-left: 10%;
}
.padding-top {
  padding-top: 10%;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box-shadow {
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 5px 5px 10px #898989, -5px -5px 10px #ffffff;
}

/* ***************header***************** */

.container {
  padding: 50px 10%;
  gap: 40px;
}
.header-content {
  flex-basis: 75%;
}
.header-content p {
  font-size: 25px;
  margin-bottom: 20px;
}
.header-content h1 {
  font-size: 60px;
  margin-bottom: 50px;
}
.header-content h1 span {
  color: #fa4924;
}
.header-content .buttons {
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.header-content .header-img {
  flex-basis: 20%;
}
.header-img img {
  width: 100%;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 5px 5px 10px #898989, -5px -5px 10px #ffffff;
  border-radius: 10px;
}
.btn {
  padding: 10px 35px;
  background-color: #e5e5e5;
  border-radius: 25px;
  font-size: 16px;
  color: #fff;
  margin-right: 20px;
  margin-left: 0;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
.btn-1 {
  background-color: #fa4924;
  color: #e5e5e5;
  border: 2px solid #fa4924;
  transition: all 0.3s ease-in;

  box-shadow: 5px 5px 7px #a6a6a6, -5px -5px 7px #ffffff;
}
.btn-1:hover {
  background: #f82a00;
  border: 2px solid #f82a00;
}
.btn-2 {
  border: 2px solid #fa4924;
  transition: all 0.3s ease-in;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: inset 5px 5px 7px #a6a6a6, inset -5px -5px 7px #ffffff;
  color: #fa4924;
}
.btn-2:hover {
  background: #fa4924 !important;
  box-shadow: none;
  color: #e5e5e5;
}

/* ******************about***************** */

.about-container {
  padding: 80px 5%;
  margin: 80px 10%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: start;
  gap: 40px;
}
.about-img {
  flex-basis: 20%;
}
.about-img img {
  width: 100%;
  border-radius: 8px;
}
.about-text {
  align-self: flex-start;
  flex-basis: 60%;
}
.about-text b {
  font-size: 20px;
}
.about-text b span {
  color: #fa4924;
}
.about-text p {
  line-height: 22px;
  margin-top: 20px;
  text-align: justify;
}
.icons {
  margin-top: 20px;
}
.icons a {
  text-decoration: none;
  color: #fa4924;
}

.icons i {
  padding: 5px;
  width: 35px;
  height: 35px;
  font-size: 18px;
  /* line-height: 18px; */
  text-align: center;
  border-radius: 4px;
  margin-right: 10px;
  transition: all 0.2s ease-out;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 1px 1px 5px #a0a0a0, -1px -1px 5px #a0a0a0;
}
.icons i:hover {
  transform: translateY(-4px);
  background: #fa4924;
  color: #e5e5e5;
}

/* ****************services******************** */

.services-container {
  padding: 80px 10%;
  flex-wrap: wrap;
}
.services-container .my-services {
  flex-basis: 32%;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: start;
  border-radius: 8px;
  transition: all 0.3s linear;
  position: relative;
}
.my-services:hover {
  background: #fa4924;
}
.my-services:hover i {
  color: #fff;
  transform: translateY(-10px);
}
.my-services:hover b {
  transform: translateY(-10px);
  color: #fff;
}
.my-services:hover p {
  transform: translateY(-10px);
  color: #fff;
}
/* .my-services:hover .arrow {
  display: block;
  bottom: 10px;
  opacity: 1;
} */
.my-services i {
  font-size: 40px;
  color: #fa4924;
  transition: all 0.3s;
}
.my-services b {
  transition: all 0.3s;
}
.my-services p {
  transition: all 0.3s;
}
.my-services .arrow {
  display: none; /* Initially hide the icon */
  position: absolute;
  bottom: 0px;
  font-size: 25px;
  /* opacity: 0; */
  transition: all 0.3s;
}

/* ************project*********** */

.projects-container {
  padding: 80px 10%;
  flex-wrap: wrap;
  row-gap: 30px;
}
.projects-container .my-projects {
  flex-basis: 32%;
  /* padding: 40px 30px; */
  height: 200px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: start;
  border-radius: 8px;
  transition: all 0.3s linear;
  position: relative;
  overflow: hidden;
}
#projects .btn {
  margin: auto;
}
.my-projects img {
  width: 100%;
  transition: all 0.3s;
}
.my-projects:hover .layer {
  height: 100%;
}
.my-projects:hover img {
  transform: scale(1.2);
}
.my-projects .layer {
  width: 100%;
  height: 0;

  border-radius: 8px;
  left: 0;
  bottom: 0;
  position: absolute;

  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff2a00);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  transition: all 0.3s;
}
.layer p {
  padding: 0 4px;
}
.layer a {
  height: 45px;
  width: 45px;
  line-height: 45px;
  background-color: #fff;
  color: #fa4924;
  border-radius: 50%;
  font-size: 18px;
}

/* *************skills****************** */

.skills-container {
  padding: 80px 5%;
  margin: 80px 10%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: start;
  gap: 40px;
}
.skils-left {
  flex-basis: 45%;
  align-items: self-start;
}
.skils-left b {
  font-size: 20px;
}
.skils-left p {
  margin-top: 15px;
  line-height: 20px;
  margin-bottom: 18px;
  text-align: justify;
}
.skils-left .btn {
  display: inline-block;
}
.skils-right {
  flex-basis: 45%;
  align-self: self-start;
}
.skils-right .percentage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 15px;
}
.skils-right .div {
  width: 100%;
  background-color: #b1b1b1;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 18px;
}
.skils-right .inner-div {
  background: #fa4924;
  height: 100%;
}
.inner-div-1 {
  width: 90%;
}
.inner-div-2 {
  width: 60%;
}
.inner-div-3 {
  width: 70%;
}
.inner-div-4 {
  width: 70%;
}
.inner-div-5 {
  width: 70%;
}
.inner-div-6 {
  width: 80%;
}

/* **********contact*************** */

.contact-section {
  padding: 20px 10%;
  margin-top: 80px;
  gap: 30px;
}
.contact-left {
  flex-basis: 48%;
  padding: 40px 20px;
  border-radius: 10px;
}
.bold-text {
  font-size: 20px;
  color: #fa4924;
}
.contact-left .para {
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
  margin-bottom: 15px;
  margin-top: 20px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 12px;
}
.box b {
  font-weight: 500;
}
.box p {
  font-size: 15px;
}
.box i {
  font-size: 18px;
  margin-right: 10px;
  color: #fa4924;
}

.contact-right {
  flex-basis: 48%;
  padding: 40px 20px;
  border-radius: 10px;
}

.contact-right .div {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 20px;
}
.contact-right .div input {
  width: 100%;
}
.contact-right .name-input,
.contact-right .email-input {
  flex-basis: 49%;
  color: #5c5c5c;
  box-shadow: inset 5px 5px 8px rgba(0, 0, 0, 0.5),
    inset -5px -5px 8px rgba(255, 255, 255, 0.5), 5px 5px 8px rgba(0, 0, 0, 0.5),
    -5px -5px 8px rgba(255, 255, 255, 0.5);
}
.contact-right input {
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}
.contact-right .subject-input {
  width: 100%;
  color: #5c5c5c;
  margin-top: 10px;
  box-shadow: inset 5px 5px 8px rgba(0, 0, 0, 0.5),
    inset -5px -5px 8px rgba(255, 255, 255, 0.5), 5px 5px 8px rgba(0, 0, 0, 0.5),
    -5px -5px 8px rgba(255, 255, 255, 0.5);
}
.contact-right .message-input {
  color: #5c5c5c;
  border-radius: 4px;
  height: 70px;
  width: 100%;
  font-size: 16px;
  padding: 8px;
  border: none;
  outline: none;
  margin-top: 10px;
  box-shadow: inset 5px 5px 8px rgba(0, 0, 0, 0.5),
    inset -5px -5px 8px rgba(255, 255, 255, 0.5), 5px 5px 8px rgba(0, 0, 0, 0.5),
    -5px -5px 8px rgba(255, 255, 255, 0.5);
}
.contact-right input {
  display: block;
}
.contact-right .btn {
  margin: 0;
  display: inline-block;
  margin-top: 20px;
}

/* ***********footer************** */

.footer {
  margin-top: 10%;
  width: 100%;
  background-color: #f82a00;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e5e5e5;
}
.footer p {
  padding: 15px;
  text-align: center;
}
.footer i {
  color: rebeccapurple;
}

.navbar i {
  font-size: 20px;
  display: none;
}
.msg {
  padding: 8px;
  color: #343434;
}

/* ****************media queries**************** */

@media only screen and (max-width: 768px) {
  .navbar i {
    display: block;
  }
  .navbar ul {
    width: 200px;
    top: 0;
    right: -200px;
    position: fixed;
    background-color: #fa4924;
    height: 100vh;
    color: #fff;
    transition: all 0.3s;
    z-index: 2;
    padding: 40px 0;
  }
  .navbar ul li {
    display: block;
    margin: 20px;
  }
  .navbar ul li a {
    color: #fff;
  }
  .navbar ul li a:hover {
    color: rebeccapurple;
  }
  .navbar ul i {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
  }
  .navbar ul li a.active-link {
    color: rebeccapurple;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .overflow {
    overflow: unset;
  }
  .pt {
    padding-top: 20%;
  }
  .container {
    flex-direction: column-reverse;
    font-size: 20px;
  }
  .header-content,
  .header-img {
    flex-basis: 100%;
    margin: 30px 0;
  }
  .container h1 {
    font-size: 40px;
    text-align: start;
  }

  .buttons .btn {
    flex-basis: 100%;
    font-size: 14px;
    width: 100%;
  }
  .main-heading {
    overflow: visible;
  }
  .about-container {
    padding: 50px 10%;
    flex-wrap: wrap;
  }
  .about-img,
  .about-text {
    flex-basis: 100%;
  }

  .services-container {
    flex-wrap: wrap;
  }
  .services-container .my-services {
    flex-basis: 100%;
    gap: 20px;
    margin-top: 20px;
  }

  .projects-container {
    flex-wrap: wrap;
  }
  .projects-container .my-projects {
    flex-basis: 100%;
    gap: 20px;
  }

  .skills-container {
    flex-wrap: wrap;
  }
  .skils-left,
  .skils-right {
    flex-basis: 100%;
    gap: 20px;
  }

  .contact-section {
    flex-wrap: wrap;
  }
  .contact-left,
  .contact-right {
    flex-basis: 100%;
    gap: 20px;
  }
}
